<form action="" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="email">
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
    </div>
    <input type="submit" value="Login">
    <div>
        <p>Don't have an account? <a routerLink="/auth/register">Create one..</a></p>
    </div>
</form>